@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply flex w-full items-center justify-center rounded-full text-lg font-bold;
	height: 3.5em;
}
.btn.pink {
	@apply bg-red-400 text-white;
}

.image-fit {
	object-fit: contain;
	position: relative !important;
	width: 100% !important;
}

.imahima {
	position: absolute;
	right: -5px;
	top: 0;
	transform: scale(0.85);
}
